<form class="my-0" method="post" action="">
  {% csrf_token %}

  <div class="modal-header d-flex justify-content-center">
    <h3>Alterar Senha</h3>
  </div>

  <div class="modal-body px-5" style="text-align: center">
        Senha antiga
        {{ form.old_password }}
        <br>
        Nova senha
        {{ form.new_password1 }}
        <h5 class="text-black my-2">Sua senha deve conter letras, números e carcteres especiais.</h5>
        <h5 class="text-black my-2">Sua senha não pode ser igual à anterior.</h5>
        <br>
        Confirme a nova senha
        {{ form.new_password2 }}
        {% for field in form %}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
        {% endfor %}
  </div>

  <div class="modal-footer mt-5">
    <button type="button" class="btn btn-danger text-white" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-success text-white" id="submitButton">Salvar</button>
  </div>

</form>

<!-- 
PasswordChangeView


em form_valid:

messages.success(self.request, 'Senha alterada com sucesso!')
return redirect("home")
-->