{% extends 'base.html' %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
{% include 'mails/messages.html' %}

<link rel="stylesheet" href="{% static 'login/css/main.css' %}?{% now 'U' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'login/css/util.css' %}?{% now 'U' %}" type="text/css" />

<div class="limiter">
    <div class="container-login100" style="background-image: url('/static/login/images/background.jpg');">
        <div class="wrap-login100 p-t-190 p-b-30">
            <form class="login100-form validate-form form-signin" method="post">
                {% csrf_token %}
                <div class="login100-form-avatar">
                    <img src="{% static 'login/images/logo.jpg' %}">
                </div>

                <div class="wrap-input100 validate-input m-b-10" data-validate="Senha é obrigatório">
                    <input class="input100" type="password" name="new_password1" autocomplete="new-password"
                        id="id_new_password1" placeholder="Nova senha" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-10" data-validate="Senha é obrigatório">
                    <input class="input100" type="password" name="new_password2" autocomplete="new-password"
                        id="id_new_password2" placeholder="Confirme a nova senha" required  onblur="validarSenha()">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                <div class="container-login100-form-btn p-t-10">
                    <button class="login100-form-btn" onclick="validarSenha()">
                        Alterar senha
                    </button>
                </div>

                <div class="text-center w-full p-t-25 p-b-230">
                    <a href="/entrar" class="txt1">
                        Voltar
                        <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{% static 'login/js/main.js' %}"></script>

{% endblock content %}

<!-- alterar lib\site-packages\django\contrib\auth\views.py com as informações abaixo

PasswordResetConfirmView

# Display the "Password reset unsuccessful" page.
messages.error(self.request, 'Este link já foi utilizado ou expirou o tempo para alteração da senha. Por favor reenvie a solicitação ao seu email, ou entre em contato com o suporte.')
return redirect('password_reset')

em form_valid:

messages.success(self.request, 'Senha alterada com sucesso!')
return redirect("home")-->