<div class="modal fade" id="confirmUpdateVagaUsuario" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmUpdateVagaUsuario" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" id="formUpdateVagaUsuario" action="">
                {% csrf_token %} 
                <div class="modal-body d-flex justify-content-center">
                    <p> 
                        <label style="text-align:center">Selecione a nova vaga</label>
                        <input list="vagas" autocomplete="off" name="vagasuserup" type="text" placeholder="Alterar vaga" style="border-radius: 5px; color: #000; width: 400px">
                        <datalist id="vagas">
                            {% for i in vagas_all %}
                                <option value="{{ i }}"/>
                            {% endfor %}
                        </datalist> 
                    </p>              
                </div>
                <div class="modal-footer d-flex justify-content-center align-self-center text-center">
                    <button type="button" data-dismiss="modal">Cancelar</button>
                    <button class="mx-2" type="submit" id="confirmUpdateVagaUsuarioButton">Salvar</button>
                </div> 
            </form>     
        </div>
    </div>
</div>