<div class="modal fade" id="confirmDeleteModalFase" tabindex="-1" caller-id="" role="dialog" aria-labelledby="confirmDeleteModalFase" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" id="formDeleteFase" action="">
                {% csrf_token %} 
                <div class="modal-body d-flex justify-content-center">
                    <p><b id="fasedel_id"></b></p>
                </div>
                <div class="modal-footer d-flex justify-content-center align-self-center text-center">
                    <button type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-danger" type="submit" id="confirmDeleteButtonModalFase">Excluir</button>
                </div> 
            </form>     
        </div>
    </div>
</div>