{% autoescape off %}
Olá, tudo bem?

É com satisfação que informamos sua aprovação no processo seletivo da Colorado Máquinas - John Deere.  

Temos certeza que este é o início de uma trajetória de sucesso!

Como nosso(a) novo(a) colaborador(a), você terá remuneração e benefícios conforme já alinhado.

Agora precisamos que você providencie os documentos para processo de admissão (em anexo):
- Relação de documentos (preencher anexo e enviar junta da documentação)
- Questionário do E-Social: preencher e assinar
- Orientações da Carteira de Trabalho Digital

O exame admissional será agendado e você será informado(a).

Os documentos devem ser digitalizados e anexados em nosso portal no prazo de 2 dias.

As informações serão encaminhadas ao responsável por sua admissão, e em breve faremos contato!

Seja bem-vindo(a) a Colorado!

&#127881;&#128154;&#128155;&#128668;&#128079;

Mensagem automática, por favor não responda.
{% endautoescape %}