{% autoescape off %}
Ficamos muito felizes em ver pessoas como você com vontade de fazer parte da nossa história e evolução.
Analisamos as candidaturas para a vaga e optamos por seguir com outros candidatos para a próxima etapa.

Apesar de não darmos continuidade nesse processo, acreditamos que todos tem potencial para contribuir positivamente. Por isso te encorajamos fortemente a buscar oportunidades futuras em nossa empresa.

Atenciosamente,

Recursos Humanos.

&#128154;&#128155;&#128668;

Mensagem automática, por favor não responda.
{% endautoescape %}