{% extends 'index.html' %}
{% load static %}
{% load chartkick %}
{% block content %}

<link rel="stylesheet" href="{% static 'adm/assets/css/candidatos.css' %}?{% now 'U' %}" type="text/css" />

<div id="wrapper">
	<div id="main">
		<div class="inner">

			{% include 'mensagem.html' %}

			<!-- Inicio Header -->
			<header id="header">
				<span class="label"><strong>Administração</strong> >> Requisições >> Aprovações Pendentes</span>
				<ul class="icons">
					<li style="font-size: 18px; letter-spacing:0.1em"><strong>RECSEL <i class="fas fa-address-card"></i></strong></li>
				</ul>
			</header>
			<!-- Fim Header -->

			<section>
				<form method="GET" action="" id="searchform">
					<div class="d-flex flex-row justify-content-end">
						<div class="p-2">
							<input class="searchfield" autocomplete="off" id="searchboxq" name="q" type="text" value="{{ request.GET.q }}" placeholder="Requisição" style="border-radius: 5px;">
						</div>
						<div class="p-2">
							<button type="submit"><i class="fa fa-search"></i></button>
						</div>
					</div>
				</form>
				<header class="major">
					<h2>Aprovações</h2>
				</header>

                <form method="POST">
                    {% csrf_token %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Cargo</th>
                                <th scope="col">Setor</th>
                                <th scope="col">Abertura</th>
                                <th style="text-align: right;" scope="col">Recusar</th>
                                {% if request.user.is_gestor and request.user.is_rh %}
                                    <th style="text-align: right;" scope="col">Aprovar RH</th>   
                                    <th style="text-align: right;" scope="col">Aprovar Gerente</th>   
                                {% else %} 
                                    <th style="text-align: right;" scope="col">Aprovar</th>  
                                {% endif %}                            
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in requisicoes %}
                                <tr>
                                    <td>{{i.codigo}}</td>
                                    <td><a title="Visualizar requisição" href="/administracao/update/requisicao/{{ i.id }}">{{i.cargo}}</a></td>
                                    <td>{{i.setor}}</td>
                                    <td>{{i.data_a|date:"SHORT_DATE_FORMAT"}}</td>	

                                    {% if request.user.is_gestor and request.user.is_rh %}
                                        <td style="text-align: right;"><button style="height: 0" type="submit" class="btn" name="recusa_total" value={{i.id}}><i class="fa-solid fa-ban" style="color:red;"></i></button></td> 
                                        <td style="text-align: right;"><button style="height: 0" type="submit" class="btn" name="aprovar_nivel_a" value={{i.id}}><i class="fa-solid fa-check"></i></button></td> 
                                        <td style="text-align: right;"><button style="height: 0" type="submit" class="btn" name="aprovar_nivel_b" value={{i.id}}><i class="fa-solid fa-check"></i></button></td>
                                    {% elif request.user.is_rh %}
                                        <td style="text-align: right;"><button style="height: 0" type="submit" class="btn" name="recusa_total" value={{i.id}}><i class="fa-solid fa-ban" style="color:red;"></i></button></td> 	
                                        <td style="text-align: right;"><button style="height: 0" type="submit" class="btn" name="aprovar_nivel_a" value={{i.id}}><i class="fa-solid fa-check"></i></button></td> 		
                                    {% elif request.user.is_gestor %}
                                        <td style="text-align: right;"><button style="height: 0" type="submit" class="btn" name="recusa_total" value={{i.id}}><i class="fa-solid fa-ban" style="color:red;"></i></button></td> 
                                        <td style="text-align: right;"><button style="height: 0" type="submit" class="btn" name="aprovar_nivel_b" value={{i.id}}><i class="fa-solid fa-check"></i></button></td> 
                                    {% elif request.user.is_diretor %}
                                        <td style="text-align: right;"><button style="height: 0" type="submit" class="btn" name="recusa_total" value={{i.id}}><i class="fa-solid fa-ban" style="color:red;"></i></button></td> 
                                        <td style="text-align: right;"><button style="height: 0" type="submit" class="btn" name="aprovar_nivel_c" value={{i.id}}><i class="fa-solid fa-check"></i></button></td> 
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>

			</section>

		</div>
	</div>

	{% include 'menu.html' %}
	{% include 'adm/assets/js/main.html' %}
	
</div>
{% endblock content %}
