{% if not validate %}
<form class="my-0" method="post" action="">
  {% csrf_token %}

  <div class="modal-header d-flex justify-content-center">
    <h3>Dados Pessoais</h3>
  </div>

  <div class="modal-body">
    <div class="form-group {% if field.errors %} invalid {% endif %}">
      {{form.non_field_errors}}
      {{form.errors}}
      <div class="row">
        <div class="col-md-6 col-12">
          Nome Completo *
          {{ form.nome_completo.errors }}
          {{ form.nome_completo }}
        </div>
        <div class="col-md-6 col-12">
          Email *
          {{ form.email.errors }}
          {{ form.email }}
        </div>
      </div>
      <br class="d-none d-lg-block">
      <div class="row">
        <div class="col-md-3 col-12">
          CPF *
          {{ form.cpf.errors }}
          {{ form.cpf }}
        </div>
        <div class="col-md-2 col-12">
          RG *
          {{ form.rg.errors }}
          {{ form.rg }}
        </div>
        <div class="col-md-2 col-12">
          Nascimento *
          {{ form.data_nascimento.errors }}
          {{ form.data_nascimento }}
        </div>
        <div class="col-md-2 col-12">
          Gênero *
          {{ form.sexo.errors }}
          {{ form.sexo }}
        </div>
        <div class="col-md-3 col-12">
          Estado Civil *
          {{ form.estado_civil.errors }}
          {{ form.estado_civil }}
        </div>
      </div>
      <br class="d-none d-lg-block">
      <div class="row">
        <div class="col-md-4 col-12">
          País *
            {{ form.pais.errors }}
            {{ form.pais }}
        </div>
        <div class="col-md-4 col-12">
          Estado *
            {{ form.estado.errors }}
            {{ form.estado }}
        </div>
        <div class="col-md-4 col-12">
          Cidade *
            {{ form.cidade.errors }}
            {{ form.cidade }}
        </div>
      </div>
      <br class="d-none d-lg-block">
      <div class="row">
        <div class="col-md-3 col-12">
          CEP *
          {{ form.cep.errors }}
          {{ form.cep }}
        </div>
        <div class="col-md-2 col-12">
          Bairro
          {{ form.bairro.errors }}
          {{ form.bairro }}
        </div>
        <div class="col-md-2 col-12">
          Endereço
          {{ form.endereco.errors }}
          {{ form.endereco }}
        </div>
        <div class="col-md-2 col-12">
          Número
          {{ form.numero.errors }}
          {{ form.numero }}
        </div>
        <div class="col-md-3 col-12">
          Complemento
          {{ form.complemento.errors }}
          {{ form.complemento }}
        </div>
      </div>
      <br class="d-none d-lg-block">
      <div class="row">
        <div class="col-md-6 col-12">
          Telefone Fixo
          {{ form.telefone.errors }}
          {{ form.telefone }}
        </div>
        <div class="col-md-6 col-12">
          Celular *
          {{ form.celular.errors }}
          {{ form.celular }}
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger text-white" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-success text-white" id="submitButton">Salvar</button>
  </div>

</form>

{% else %}
<form class="my-0" method="post" action="">
  {% csrf_token %}

  <div class="modal-header d-flex justify-content-center">
    <h3>Dados Pessoais</h3>
  </div>

  <div class="modal-body">
    {% for item in validate %}
    <div class="row">
      <div class="col-md-6 col-12">
        Nome Completo *
        <input class="form-control" type="text" name="nome_completo" required id="id_nome_completo" value="{{ item.nome_completo }}">
      </div>

      <div class="col-md-6 col-12">
        Email *
        <input class="form-control" type="email" name="email" required id="id_email" value="{{ item.email }}">
      </div>
    </div>

    <br class="d-none d-lg-block">

    <div class="row">
      <div class="col-md-3 col-12">
        CPF *
        <input class="form-control" type="text" name="cpf" required id="id_cpf" value="{{ item.cpf }}">
      </div>

      <div class="col-md-2 col-12">
        RG *
        <input class="form-control" type="text" name="rg" required id="id_rg" value="{{ item.rg }}">
      </div>

      <div class="col-md-2 col-12">
        Nascimento *
        <input class="form-control dateconfig" type="date" name="data_nascimento" id="id_data_nascimento" value="{{ item.data_nascimento|date:"Y-m-d" }}">
      </div>

      <div class="col-md-2 col-12">
        Gênero *
        {{form.sexo}}
      </div>

      <div class="col-md-3 col-12">
        Estado Civil *
        {{form.estado_civil}}
      </div>

    </div>

    <br class="d-none d-lg-block">

    <div class="row">
      <div class="col-md-4 col-12">
        País *
        <select class="form-control" name="pais" required id="id_pais">
          <option value="{{ item.pais.id }}" selected="" hidden>{{ item.pais }}</option>
          {% for i in paises %}
            <option value="{{ i.id }}">{{ i.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md-4 col-12">
        Estado *
        <select class="form-control" name="estado" required id="id_estado">
          <option value="{{ item.estado.id }}" selected="" hidden>{{ item.estado }}</option>
          {% for i in estados %}
            <option value="{{ i.id }}">{{ i.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md-4 col-12">
        Cidade *
        <select class="form-control" name="cidade" required id="id_cidade">
          <option value="{{ item.cidade.id }}" selected="" hidden>{{ item.cidade }}</option>
          {% for i in cidades %}
            <option value="{{ i.id }}">{{ i.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <br class="d-none d-lg-block">

    <div class="row">
      <div class="col-md-3 col-12">
        CEP *
        <input class="form-control" type="text" name="cep" required id="id_cep" value="{{ item.cep }}">
      </div>

      <div class="col-md-2 col-12">
        Bairro
        {% if item.bairro %}
          <input class="form-control" type="text" name="bairro" id="id_bairro" value="{{ item.bairro }}">
        {% else %}
          <input class="form-control" type="text" name="bairro" id="id_bairro">
        {% endif %}
      </div>

      <div class="col-md-2 col-12">
        Endereço
        {% if item.endereco %}
          <input class="form-control" type="text" name="endereco" id="id_endereco" value="{{ item.endereco }}">
        {% else %}
          <input class="form-control" type="text" name="endereco" id="id_endereco">
        {% endif %}
      </div>

      <div class="col-md-2 col-12">
        Número
        {% if item.numero %}
          <input class="form-control" type="text" name="numero" id="id_numero" value="{{ item.numero }}">
        {% else %}
          <input class="form-control" type="text" name="numero" id="id_numero">
        {% endif %}
      </div>

      <div class="col-md-3 col-12">
        Complemento
        {% if item.complemento %}
          <input class="form-control" type="text" name="complemento" id="id_complemento" value="{{ item.complemento }}">
        {% else %}
          <input class="form-control" type="text" name="complemento" id="id_complemento">
        {% endif %}
      </div>
    </div>

    <br class="d-none d-lg-block">

    <div class="row">
      <div class="col-md-6 col-12">
        Telefone Fixo
        {% if item.telefone %}
          <input class="form-control" type="text" name="telefone" id="id_telefone" value="{{ item.telefone }}">
        {% else %}
          <input class="form-control" type="text" name="telefone" id="id_telefone" value="">
        {% endif %}
      </div>

      <div class="col-md-6 col-12">
        Celular *
        <input class="form-control" type="text" name="celular" required id="id_celular" value="{{ item.celular }}">
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger text-white" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-success text-white" id="submitButton">Salvar</button>
  </div>

</form>
{% endif %}

{% include 'base/assets/java/java.html' %}