<div class="modal-header d-flex justify-content-center">
    <h3>Ajuda</h3>
</div>

<div class="modal-body px-5">
    <h4 style="color: black">Como funciona?</h4>
    <p style="color: gray">O cadastro de seu currículo completo se divide em 6 (seis) seções: <u>Dados Pessoais, Formações Acadêmicas,
        Experiências Profissionais, Línguas Estrangeiras, Conhecimentos Tecnológicos e Dados Complementares</u>.
        Cada botão central em seu perfil te direciona para uma destas, além das seções Questionário Profissional e da visualização e exclusão
        das vagas a qual você se cadastrou. Conforme as seções são preenchidas, os botões se alteram de cor, como no exemplo abaixo:
        <div class="row content text-center justify-content-center">
            <div class = "col-md-2 col-12 text-center justify-content-center pb-3">
                <a class="btn btn-dark text-white d-flex justify-content-center btn-block">Dados <br> Pessoais</a>
            </div>
            <div class = "col-md-1 col-12 d-flex align-items-center text-center justify-content-center pb-3">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div class = "col-md-2 col-12 text-center justify-content-center pb-3">
                <a class="btn btn-success text-white d-flex justify-content-center btn-block">Dados <br> Pessoais</a>
            </div>
        </div>       
    </p>
    <p style="color: gray">Você pode acompanhar o progresso de cadastro de seu curriculo atrasvês do <u>Avanço de perfil</u> que fica sob a sua foto.</p>

    <h4 style="color: black">Preciso preencher todas as seções?</h4>
    <p style="color: gray">As únicas seções obrigatórias para que já seja possível se candidatar a alguma vaga são: <u>Dados Pessoais, Formações Acadêmicas
        e Dados Complementares</u>. Porém é importante lembrar que as demais seções são um diferencial para a avaliação de seu currículo em nossos processos
        seletivos.
    </p>
    <h4 style="color: black">O que é o Questionário Profissional?</h4>
    <p style="color: gray">O Questionário Profissional é uma avaliação indireta realizada por nosso RH que influencia em seu currículo. Não é obrigatório 
        realizar seu preenchimento e não fazê-lo não negativa seu precesso em nenhum ponto. Porém ao cadastra-lo, uma vez feita sua avaliação, impulsionará 
        seu currículo, podendo ao final do processo tornar-se um diferencial.
    </p>
    <h4 style="color: black">Posso enviar arquivos?</h4>
    <p style="color: gray">O envio de arquivos é liberado a partir do momento em que nosso RH finaliza o processo seletivo, selecionando o candidato 
        para a vaga. Antes disso, por motivos de padronização do sistema e segurança, nenhum tipo de arquivo é liberado para envio.
    </p>
    <h4 style="color: black">Como posso acompanhar a situação de cadastro do meu currículo?</h4>
    <p style="color: gray">Ao preencher alguma das 6 (seis) seções de seu currículo, além dos botões se alterarem de cor para sinalizar o cadastro, 
        você poderá verificar as informações preenchidas clicando novamente no botão da seção, ou também clicando 
        <u>"Visualizar currículo"</u> em seu perfil para visualizar seu cadastro completo no mesmo formato em que será utilizado para a avaliação 
        de nosso RH durante o processo seletivo.
    </p>
    <h4 style="color: black">Como posso acompanhar a situação da vaga em que me cadastrei?</h4>
    <p style="color: gray">A partir do momento em que você realiza seu cadastro em alguma vaga, poderá visualiza-lo em <u>"Vagas Cadastradas"</u>
        no seu perfil, não sendo necessário acompanhar mais nenhuma movimentação. Todo o processo seguirá internamente e, finalizada a seleção, 
        você será notificado em seu email cadastrado.
    </p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Fechar</button>
</div>